@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Signika+Negative&display=swap');

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #000000, #434343);
  color: #1E1E1F;
  font-family: 'Signika Negative', sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}